<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/eventDetailsPage.css">

</head>

<body>

    <script src="../scripts/navbar.js"></script>

    <div class="container"> <!-- Added container -->
        <h1>Bruno Mars Eras Tour</h1>

        <img src="../assets/Bruno Mars Concert.png" alt="Big Head">

        <div class="description">
            <section>
                <p>A tour starting at a 12-meter, bent-wire girl's head in front of a landmark building. It's near
                    Chinatown.</p>
            </section>

            <section>
                <h3>Address</h3>
                <em>6 Ave SE, Calgary, AB T2G 0G2</em>
            </section>

            <section>
                <h3>Event Times</h3>
                <p>Fridays, Saturdays, Sundays @ 17:00PM - 18:30PM</p>
            </section>

            <section>
                <h3>Price of Event</h3>
                <p>$25/person</p>
            </section>
        </div>
    </div> <!-- End of container -->
</body>

</html>