<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot?</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <link rel="stylesheet" href="../styles/forgotPassword.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="../scripts/toggleEyePassword.js"></script>


</head>
<body>
    <div class="container">
        <div class="logoimage"><img class="img" src="../assets/dreamScapeLogo.png" alt="Dreamscape logo image" />
            <div class="italic-text">Travel Made Simple...
            </div>
        </div>
        <div class="whole">
            <div class="title"><span>Forgot Password?</span>
            </div>
            <div class = "resetPassword">
            <form action="#">
                <p>We will send a reset link to this email <br>
                   if it matches an existing Dreamscape account
                </p>
              </form>
            <div class="field-input">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Email" required>
            </div>                    
                <div class="row botton">
                    <input id="submitButton" type="submit" value="Submit">
                </div>
                <br>
                <br>
                <div class = " form-link">
                    <a href="login.html" class="login"> Back to Log In</a>
            </form>
        </div>
    </div>
</body>
</html>