<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot?</title>
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/signup.css">
    <link rel="stylesheet" href="../styles/forgotPassword.css">
</head>
<body>
    <div class="container">
        <div class="logoimage"><img class="img" src="../assets/dreamScapeLogo.png" alt="Dreamscape logo image" /></div>
        <div class="whole">
            <div class="title"><span>Forgot Password?</span></div>
            <br>
            <br>
            <div class="row">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Email " required>
            </div>
            <br>
            <div class = "resetPassword">
            <form action="#">
                <p>We'll send a reset link to this email 
                    <br> to reset your password if it matches
                    <br>
                     an existing Dreamscape account</p>
                    <br> 
              </form>
            </div>                           
                <div class="row botton">
                    <input type="submit" value="Next">
                    <br>
                </div>
                <br>
                <div class = " form-link">
                    <input type="submit" value="Back to login" class="backToLogin"> 
            </form>
        </div>
    </div>
</body>
</html>