<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/navbar.css">
</head>

<body>
    <script src="../scripts/navbar.js"></script>

    <div class="homepage-container">
        <div class="location-container">
            <p class="location-text">Location</p>
            <p class="current-location">Calgary, AB</p>
        </div>
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search for Events or Organizers">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
    </div>
    <div class="homepage-container">
        <h2>Upcoming Events</h2>
    </div>
    <div class="upcoming-events-container">
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Journey Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Journey: Freedom Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Talor Swift Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Taylor Swift: Eras Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Bruno Mars Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Bruno Mars World Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
    </div>
    <div class="homepage-container">
        <h2>Nearby Events</h2>
    </div>
    <div class="nearby-events-container">
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Journey Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Journey: Freedom Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Talor Swift Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Taylor Swift: Eras Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
        <div class="event-card">
            <div class="event-image-container">
                <img class="event-image" src="../assets/Bruno Mars Concert.png" alt="Event Image">
            </div>
            <div class="event-title">Bruno Mars World Tour 2024</div>
            <div class="event-details">
                <div class="event-address">Event Address</div>
                <div class="event-time">Event Time</div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>