<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/notficationsPage.css">

    <script src="../scripts/navigation.js"></script>
</head>

<body>
    <script src="../scripts/navbar.js"></script>
    <div class="notification-body">
        <h1 class="notifications-title">Notifications</h1>
        <div class="notification-container">
            <p class="close-button">x</p>
            <div class="notification-icon">
                <i class="fa-solid fa-ticket"></i>
            </div>
            <div class="notification-info">
                <h2 class="notification-subject">
                    Important Notification: Credit Card Cancellation
                </h2>
                <p class="notification-text">
                    We regret to inform you that, after careful review, we have mad...
                </p>
            </div>
        </div>
        <div class="notification-container">
            <p class="close-button">x</p>
            <div class="notification-icon">
                <i class="fa-solid fa-ticket"></i>
            </div>
            <div class="notification-info">
                <h2 class="notification-subject">
                    Important Notification: Credit Card Cancellation
                </h2>
                <p class="notification-text">
                    We regret to inform you that, after careful review, we have mad...
                </p>
            </div>
        </div>
        <div class="notification-container">
            <p class="close-button">x</p>
            <div class="notification-icon">
                <i class="fa-solid fa-ticket"></i>
            </div>
            <div class="notification-info">
                <h2 class="notification-subject">
                    Important Notification: Credit Card Cancellation
                </h2>
                <p class="notification-text">
                    We regret to inform you that, after careful review, we have mad...
                </p>
            </div>
        </div>
    </div>


</body>

</html>