<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/notifications.css">

    <script src="../scripts/navigation.js"></script>
</head>

<body>
    <script src="../scripts/navbar.js"></script>
    <div class="container">
        <h1>Notification Settings</h1>

        <div class="notification-option">
            <input type="checkbox" id="email-notification" name="email-notification">
            <label for="email-notification">Receive Email Notifications</label>
        </div>

        <div class="notification-option">
            <input type="checkbox" id="app-dropdown-notification" name="app-dropdown-notification">
            <label for="app-dropdown-notification">Receive App Dropdown Notifications</label>
        </div>

        <div class="notification-option">
            <input type="checkbox" id="new-itinerary-notification" name="new-itinerary-notification">
            <label for="new-itinerary-notification">Notify for New Itinerary</label>
        </div>

        <div class="notification-option">
            <input type="checkbox" id="profile-edited-notification" name="profile-edited-notification">
            <label for="profile-edited-notification">Notify for Profile Name Edited</label>
        </div>

        <button class="save-button" onclick="redirectToNotificationsPage()">Save</button>
    </div>
</body>

</html>
