<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/notifications.css">

    <script src="../scripts/navigation.js"></script>
</head>

<body>
    <script src="../scripts/navbar.js"></script>
    <div class="container">
        <h1>Notification Settings</h1>

        <div class="notification-option">
            <h2>Choose Notification Method:</h2>
            <br>
            <div class="custom-dropdown">
                <select id="notification-method" name="notification-method">
                    <option value="both">Both App and Email</option>
                    <option value="email">Only Email</option>
                    <option value="app">Only App</option>
                </select>
                <span class="dropdown-icon"></span>
            </div>
        </div>
        

        <br>
        
        <div class="notification-option">
            <h2><label for="notification-types">Send notifications for:</label></h2>
            <br>
            <h3>
                <ul id="notification-types">
                    <li>
                        <label for="recommendation-notification">Recommendations</label>
                        <input type="checkbox" id="recommendation-notification" name="recommendation-notification" checked>
                    </li>
                    <li>
                        <label for="profile-editing-notification">Changes to Profile</label>
                        <input type="checkbox" id="profile-editing-notification" name="profile-editing-notification" checked>
                    </li>
                    <li>
                        <label for="event-reminders-notification">Event Reminders</label>
                        <input type="checkbox" id="event-reminders-notification" name="event-reminders-notification" checked>
                    </li>
                    <li>
                        <label for="changes-to-booked-events-notification">Changes to booked events</label>
                        <input type="checkbox" id="changes-to-booked-events-notification" name="changes-to-booked-events-notification" checked>
                    </li>
                </ul>
            </h3>
            <br>
            <br>
            <br>
            <br>
            <h2>
                <div class="payment-methods">
                    <div>
                        <label for="savePaymentMethod">Automatically dismiss app notifications?</label>
                        <input type="checkbox" id="savePaymentMethod" name="savePaymentMethod" checked>
                    </div>
            </h2>
        </div>
        

        <div style="margin-top: 30px;"></div> 

        <button class="save-button" onclick="redirectbackToNotificationsPage()">Save</button>
    </div>
</body>

</html>