<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/paymentPage.css">
</head>
<body>
    <script src="../scripts/navbar.js"></script>

    <div class="content">
        <img src="../assets/Bruno Mars Concert.png" alt="Big Head">
        <h3>Bruno Mars Eras Tour: $30</h3>

        <form>
            <label for="cardNumber"><h2>Card Number</h2></label>
            <input type="text" id="cardNumber" name="cardNumber" placeholder="Enter card number">
        </form>

        <form>
            <label for="expiry"><h2>Expiry</h2></label>
            <input type="text" id="expiry" name="expiry" placeholder="MM/YYYY">
        </form>

        <form>
            <label for="cvv"><h2>CVV</h2></label>
            <input type="text" id="cvv" name="cvv" placeholder="Enter CVV">
        </form>

        <form>
            <label for="cardHolderName"><h2>Card Holder's Name</h2></label>
            <input type="text" id="cardHolderName" name="cardHolderName" placeholder="Enter card holder's name">
        </form>

        <div class="payment-methods">
            <div>
                <input type="checkbox" id="savePaymentMethod" name="savePaymentMethod">
                <label for="savePaymentMethod">Save Payment Method?</label>
            </div>
            <br>
            <a href="bookingConfirmationPage.html">Pay with Credit</a>
            <p>------- Or pay using -------</p>
            <a href="bookingConfirmationPage.html">Apple Pay</a>
        </div>
    </div>
</body>
</html>
