<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login form </title>

        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/signup.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <script src="../scripts/toggleEyePassword.js"></script>

                      
    </head>
    <body>
        <div class="content">
            
                <div class="logoimage"><img class="img" src="../assets/dreamScapeLogo.png" alt="Dreamscape logo image" /></div>
                <div class="form login">
                    <div class="form-content">
                        <header class="login-header">Create your account</header>
                    <br>
                    <form action="#">
                        <div class="field input-field">
                            <i class="fas fa-user"></i>
                            <input class="input-field" type="text" placeholder="Username" name="username">
                            
                        </div>
                        <br>
                        <div class="field input-field">
                            <i class="fas fa-envelope"></i>
                            <input class="input-field" type="text" placeholder="Email" name="email">
                        </div>
                        <br>            
                        <div class="field input-field password-container">
                            <input type="password" placeholder="Password" class="password">
                            <span class="password-toggle-icon" onclick="togglePasswordVisibility()">
                                <i class="fas fa-eye"></i>
                            </span>
                            <i class="fa fa-lock"></i>
                        </div>
                        <br>   
                        <br>         
                        <div class="signUpButton">
                            <a href="homePage.html"><label class="text-wrapper">Sign Up</label></a>
                          </div>
                          <br>
                        <div class="form-link">
                        <span>Already have an account? <a href="login.html" class="link signup-link">Log In</a></span>
                    </div>
            </div>
        </body>
        </html>