/* CSS for Calendar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position: relative; /* Ensure body has a relative position */
}

.calendar-heading {
    text-align: center;
    margin-top: 20px;
}

.calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#prev-day,
#next-day {
    font-size: 18px;
    cursor: pointer;
    padding: 1px 50px; /* Adjust padding for arrows */
}

#current-date {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

#time-table {
    width: 100%;
    border-collapse: collapse; /* Collapse borders for better styling */
}

#time-body td {
    vertical-align: top;
    height: 70px;
}

.time-scroll-container {
    overflow-y: auto;
    max-height: calc(100vh - 300px); /* Adjust height according to available space */
    padding: 10px;
}

.time-slot {
    width: 100px; /* Adjust the width of the time slot column */
}

.event-column {
    width: calc(100% - 100px); /* Adjust the width of the event column */
    height: 100%; /* Set the height of the event column to 100% */
}

.event-cell {
    border-top: 1px solid #ccc; /* Add borders to event cells */
    height: 100%; /* Set the height of the event cell to 100% */
    position: relative; /* Add relative positioning */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: calc(var(--navbar-height) + 10px); /* Adjust based on the height of your navbar */
    left: 0;
    background-color: white;
    z-index: 999; /* Ensure buttons are above other content */
    padding: 10px;
}

.event-button {
    background-color: navy;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    width: calc(100% - 5px); /* Adjust width to fit within cell */
    height: calc(100% - 5px); /* Adjust height to fit within cell */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Position button vertically in the middle */
    left: 50%; /* Position button horizontally in the middle */
    transform: translate(-50%, -50%); /* Center button */
}

#export-button,
#done-button {
    font-size: 16px;
    padding: 8px 16px;
    margin: 5px 0; /* Adjust margin between buttons */
    border-radius: 5px; /* Apply rounded edges to buttons */
}

#export-button {
    background-color: #001F45;
    color: white;
}

#done-button {
    background-color: #4affb3;
    color: black;
}
