*{
    padding: 0;
    margin: 0;
}
body {
    background-color: navy;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 40px;
}


section {
    padding: 10px 15px;
}

h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

em {
    font-style: normal;
}

img {

    max-width: 88%;
    height: auto;
    margin: 10px auto;
    display: block;
    margin-bottom: 20px;

}

.description {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 88%;
    color: black;
    padding: 20px 0;
    /* Added font color */
}

.book-event {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.book-event:hover {
    background-color: darkgreen;
}