body {
    background-color: #001F45;
    color: white;
  }
  .logoimage {
     box-sizing: border-box;
  }

  .logoimage {
    width: 70%;
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
  }
  .title {
    width: 100%;
    text-align: center;
    color: white; 
    font-size: 30px; 
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.row.botton {
    text-align: center; 
}

.row.botton input[type="submit"] {
    display: inline-block;
    width: auto; 
    padding: 10px 20px; 
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box; 
}

.row input[type="text"] {
    width: 100%; 
    display : block;
    max-width: 250px;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; 
}

.backToLogin {
  font-size: 20px; 
  background-color:#4affb3; 
  color:black;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.resetPassword {
  font-size: 20px; ; 
  color:white;
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




