.body {
    background-color: #001F45;
    color: white;
}

.logoimage {
  width: 70%;
  max-width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -90px;
}

.title {
  width: 100%;
  text-align: center;
  color: white; 
  font-size: 30px; 
}
.field-input {
  position: relative;
  display: flex;
  align-self: center;
  width : 100%;
}
.field-input i{
  position: absolute;
  left: 10px; 
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

.field-input [type="text"] {
  padding-left: 30px; 
  width: calc(100% - 50px); 
  height: 30px;
  border-radius: 10px;
}

.row.botton {
  text-align: center; 
  margin-top: 20px; 
}

.row.botton input[type="submit"] {
  display: inline-block;
  width: 30%; 
  padding: 12px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box; 
  font-weight: bold;
  font-size: 17px;
}

.resetPassword {
  font-size: 20px; ; 
  color: white;
  padding: 10px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login {
  display: inline-block;
  width: 50%;
  color: black !important;
  font-size: 17px; 
  text-decoration: #000;
  background-color:#4affb3; 
  padding:15px; 
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.login:hover {
  background-color: #4affb3; 
  color: black; 
}




