* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: navy;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.notification-container {
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px; 
    position: relative;
}

.close-button{
    position: absolute;
    top: -3px;
    right: 5px;
    font-size: 0px;
}

.notification-icon {
    display: flex;
    align-content: center;
    justify-content: center;
}

.notification-icon>i {
    align-self: center;
    font-size: 40px;
    margin-right: 20px;
    color: #e6e9ed;
}

.notification-info {
    display: flex;
    flex-direction: column;
}

.notification-subject {
    font-size: 14px;
}

.notification-text {
    font-size: 13px;
}

.notifications-title {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 30px;
}

h1 {
    margin-bottom: 30px;
}

.notification-option {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
}

.save-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.save-button:hover {
    background-color: darkgreen;
}

.settings-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 25px;
}
