* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: navy;
    color: #fff;


    .notification-icon {
        position: absolute;
        top: 80px;
        right: 80px;
    }
}


h2 {
    color: #fff;
    margin-bottom: 70px; /* Added margin bottom for spacing */
}