body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: navy;
    color: white;
    text-align: center;
    overflow: auto;
}

h3, h4, h2 {
    margin: 5px 0;
    color: white; /* Ensure heading colors are set to white */
}

label {
    display: block;
    margin-bottom: 5px;
    color: white; /* Ensure label text color is set to white */
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 20px); /* Adjust width to leave space for padding and margins */
    box-sizing: border-box;
    margin-bottom: 20px;
    color: black; /* Set input text color to black for better contrast */
    margin: 0 auto 10px; /* Center align inputs and add bottom margin for spacing */
}


img {
    max-width: 100%;
    margin: 10px;
    height: auto;
    margin-bottom: 10px;
    width: 300px; /* Increase the width of the image */
}

.payment-methods a {
    display: block;
    background-color: #4affb3;
    color: black; /* Set link text color to black for better contrast */
    padding: 10px 20px; /* Decrease padding to make buttons smaller */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 200px; /* Set maximum width for buttons */
    margin: 0 auto 10px; /* Center align buttons and add bottom margin for spacing */
}

