/* CSS for Payment Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    background-color: navy;
    color: white;
    text-align: center;
    overflow: auto;
}   

.content {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    margin: auto; /* Center align */
    padding: 20px;
    height: calc(100vh - var(--navbar-height)); /* Calculate max height based on viewport height */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h3, h4, h2 {
    margin: 10px 0;
    color: #001F45;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.payment-methods {
    text-align: center;
    margin-bottom: 100px;
}

.payment-methods a {
    display: block;
    background-color: #4affb3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.payment-methods a+a {
    margin-top: 5px;
}

.payment-methods a:hover {
    background-color: darkgreen;
}
