* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #001F45;
    color: #fff;
}

.profilephoto-container {
    text-align: center;
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.profile-photo {
    display: inline-block;
    position: relative;
    margin-bottom: 20px; /* Added margin bottom for spacing */
}

.profile-photo img {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}

.edit-profile-button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button,
.notification-button,
.payment-button,
.logout-button,
.delete-button {
    display: block;
    width: 350px; /* Increased button width */
    margin: 20px auto; /* Center-align buttons */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px; /* Increased button padding */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.edit-profile-button {
    background-color: #28a745; 
}

.delete-button {
    margin-top: 40px;
    background-color: red;
}

h2 {
    color: #fff;
    margin-bottom: 70px; /* Added margin bottom for spacing */
}