.signUpButton {
  width: 70%; 
  min-height: 30px; 
  position: absolute;
  border-radius: 15px;
  background-color: #4affb3; 
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }
  
  .text-wrapper {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
  }
  
  .signUpButton:hover {
    background-color: #0056b3; /* Change the hover background color */
  }
  
  