body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #001F45;
  color: #fff;
}

.container {
  text-align: center; /* Center align the content inside the container */
}

.logoimage {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 200px;
  margin: auto;
  display: block;
}
.italic-text {
  font-style: italic;
  position: absolute;
  bottom:10px;
  right: 10px;
  transform: translate(40%,0%); 
  font-weight: 300;
}

@media screen and (max-width: 800px) {
  .logoimage img {
      width: 100%; 
      max-width: none;
  }
}
/* Login Button */
.loginButton, .signupButton {
  position: relative;
  border-radius: 100px;
  background-color: #4affb3; 
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;
  min-height: 60px;
  text-align: center;
  display: inline-block;
  margin: 20px 0; 
  width: 200px; 
}

.text-wrapper {
  font-family: "Inter-Bold", Helvetica;
  color: #000000;
  font-size: 25px; 
  font-weight: bold;
  line-height: 60px; 
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: 'or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #1025c1;
  padding: 0 15px;
}

.google-button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 40px; 
  padding: 20px 40px; 
  font-size: 18px; 
  font-weight: bold;
  display: inline-block;
  position: relative;
  line-height: 1; /* Reset line-height */
}

.button-text {
  vertical-align: middle;
  padding-left: 10px; 
}
